@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 10px;
  scrollbar-width: none;
}

/* Hide scrollbar for all browsers */
/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE and Edge */
body {
  -ms-overflow-style: none;
}

/* Hide scrollbar for all elements */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
